* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	font-family: sans-serif;
}

main {
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	padding: 1rem;
}

.container {
	position: relative;
	border-radius: 20px;
	background: linear-gradient(
		210deg,
		rgba(224, 224, 224, 0.3) 0,
		rgba(36, 34, 34, 0.1) 70%
	);
	box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
		-5px -5px 30px 7px rgba(0, 0, 0, 0.22), 3px 3px 10px rgba(0, 0, 0, 0.25);
	display: inline-block;
}

/* ==========================================================================
   Input Styling
   ========================================================================== */

.input_container {
	flex: 1 1 400px;
	padding: 2rem 1rem;
	color: white;
}

.input_container h1 {
	padding: 1rem 0;
}

.input_container ul {
	list-style: none;
}

/* ==========================================================================
   Bubble Styling
   ========================================================================== */

.bubble_container {
	flex: 5 1 400px;
	min-height: 90vh;
}

.bubble {
	background-position: center;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.7;
	position: absolute;
}

.bubble img {
	height: 100%;
}
